.edit-categories {
  display: flex;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.5);
}

.edit-category-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.edit-category-form label {
  font-size: 18px;
  font-weight: bold;
}

.edit-category-form input[type="text"],
.edit-category-form input[type="submit"] {
  margin-left: 20px;
}

.edit-category-form input[type="text"] {
  border-bottom: 2px solid #759138;
}

.edit-category-form input[type="submit"] {
  background-color: #759138;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}
.edit-categories-error {
  position: absolute;
  color: #c42424;
  bottom: -25px;
  font-weight: 900;
}

@media (max-width: 1024px) {
  .new-categories {
    margin: 20px auto;
  }
}
