.container {
  display: flex;
  color: #fff;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  font-family: "M PLUS 1p", sans-serif;
  background: url(../img/bg_login.jpg) center center/cover;
}

.error-box,
.box {
  position: relative;
  width: 400px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 10px;
}

.error-box {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  padding: 20px;
}

.error-box .close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.error-box .close:hover {
  color: #0379af;
  cursor: pointer;
}

.error-box .alert {
  margin: 0 10px;
}

.box img {
  margin: auto;
  height: 100px;
}

.box h1,
.box h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.334;
  letter-spacing: 0.2em;
  text-align: center;
  text-shadow: 2px 2px #131212;
}

.box h2 {
  font-size: 1.6rem;
  color: #92cf50;
  margin-bottom: 30px;
}

.box .inputBox {
  position: relative;
  direction: ltr;
  outline: none;
}

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  letter-spacing: 1px;
  border-bottom: 1.5px solid #fff;
  background: transparent;
  transition: all 0.5s ease;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.box .inputBox input:focus {
  border-bottom: 1.5px solid #03a9f4;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}

.box button {
  width: 100%;
  background-color: #03a9f4;
  padding: 0.875em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.3em;
  transition: all 0.8s ease;
}

.box button:hover,
.box button:focus {
  background-color: #fff;
  color: #0379af;
}

/* autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0 50px rgba(0, 0, 0, 0) inset !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

@media (max-width: 360px) {
  .error-box,
  .box {
    width: 250px;
  }

  .box h1,
  .box h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .box h2 {
    font-size: 1rem;
    color: #92cf50;
  }

  .error-box {
    font-size: 0.8rem;
  }
}
