.drop-zone img {
  /* object-fit: scale-down;
  height: 100%; */
  /* transform: scale(0.85); */
  width: 145px;
}

.drop-zone {
  width: 150px;
  height: 150px;
  border: 3px dotted #999;
  color: #999;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #fff;
  overflow: hidden;
}

.drop-zone:hover,
.drop-zone.drop-over {
  border: 3px dotted #759138;
  color: #000;
  cursor: pointer;
}

.drop-zone.done {
  border: 3px solid #759138;
}
