:root {
  --accent-color: #759138;
  --layout-navbar: #2f2f2f;
  --active: #1f1f1f;
}

.wrapper {
  font-family: "Rubik", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 18em 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "layout-navbar layout-header"
    "layout-navbar layout-pages";
}
